*{padding: 0;
    margin: 0;
}
body{width: 100%;
    
}
.container{
    width: 100%;
    background-color:#181D31 ;
}
header{
    background-color: red;
    
}
header img{
    width: 80px;
}
nav{
    background-color: rgb(33, 86, 107);
   
}
.menu{
    list-style-type: none;
    justify-content: space-between;
    inset-inline: center;
}